
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 150px;
}

.masbaha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(71, 145, 255);
    width: fit-content;
    border-radius: 50px;
    padding: 15px;
}

.masbaha button{
    border-radius: 20px;
    border: none;
    padding: 20px;  
}

span{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}

.masbaha button:focus{
    background-color: rgb(55, 55, 162);
    color: white;
}